<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net40-client" />
  <package id="Microsoft.ReportViewer.Common.v12" version="12.0.0.1" targetFramework="net40-client" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40-client" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net40-client" />
</packages>